<!-- <div fxLayout="row" fxLayoutAlign="center center" class="toolbar">
    <div fxFlex>
      <app-dashboard-nav></app-dashboard-nav>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="toolbar">
  <div fxFlex="17" style="box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);">
    <app-dashboard-menu></app-dashboard-menu>
  </div>
  <div fxFlex> 
    homes
  </div>
</div> -->
<app-toolbar></app-toolbar>
<mat-drawer-container>
  <mat-drawer  mode="side" opened>
    <app-options></app-options>
  </mat-drawer>
  <mat-drawer-content>
    incio
  </mat-drawer-content>
</mat-drawer-container>
