<div fxLayout="row" fxLayoutAlign="center center" class="footer">
   <div fxFlex="90">        
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex class="infoFooter">                        
                    <span>Grupo ISIMA Sistemas y Posgrados Sa de CV, Toluca Edo.Mexico 2020.</span>                                         
            </div>
            <div fxFlex class="redesSociales">        
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                    <li><i class="fab fa-instagram"></i></li>             
                </ul>
            </div>           
        </div>
   </div>
</div>
