mat-list
{
    height: 89vh;         
}
mat-list mat-list-item i
{
    font-size: 19px;
    color: #727272;                
}
mat-list mat-list-item div
{
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
    /* color: #727272;                 */
    color: #666;
}
mat-list-item
{
    cursor: pointer;
}
mat-list-item:hover{
    background-color: rgba(0, 0, 0, .1);
}