.toolbar mat-toolbar
{
    background-color: #006fba;
}
.toolbar img
{
    height: 70%;
}
.title
{
    text-align: center;    
    font-size: 25px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
.content-Form
{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px;
}
mat-form-field
{
    width: 90%;
    margin: 10px;
}
mat-icon
{
    color: rgba(0, 0, 0, 0.4);
}