<div fxLayout="row" fxLayoutAlign="center center" class="toolbar">
    <div fxFlex>
        <mat-toolbar>           
            <mat-toolbar-row>
              <img (click)="regresar()"  src="/assets/logo-Blanco.png" alt="" style="cursor: pointer;">              
            </mat-toolbar-row>
          </mat-toolbar>                    
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="padding:20px;">
    <div fxFlex class="title">
        <p>
            Bienvenido por primera vez {{identity.name}} {{identity.surnameP}}
        </p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="padding:20px;">
    <div fxFlex="30" class="content-Form text-center">
        <form action="" [formGroup]="FormPassword" (ngSubmit)="onChangePassword()">                        
            <mat-form-field>
                <mat-label>Nueva Contraseña</mat-label>
                <input 
                matInput
                type="password"
                formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint style="color:red;font-size: 10px;" *ngIf="FormPassword.get('password').hasError('minlength') ">
                    *Password minimo de 8 caracteres
                </mat-hint>         
            </mat-form-field>               
            <mat-form-field>
                <mat-label>Confirmar Contraseña</mat-label>
                <input 
                matInput
                type="password"
                formControlName="confirmPassword">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint style="color:red;font-size: 10px;" *ngIf="FormPassword.get('confirmPassword').hasError('minlength') ">
                    *Password minimo de 8 caracteres
                </mat-hint>         
            </mat-form-field>   
                     
            <button mat-raised-button color="primary" [disabled]="FormPassword.invalid">Guardar</button>            
        </form>
    </div>
</div>
