<mat-toolbar>      
    <mat-toolbar-row>        
        <span>
            <img src="/assets/logo-Blanco.png" alt="">
        </span>        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>   
            <button mat-icon-button>
                <mat-icon>notifications_none</mat-icon>
            </button>                
            <button mat-button [matMenuTriggerFor]="menu">
                <img src="{{url+'imageUser/'+identity.imageProfile}}" alt="" style="width: 40px;border-radius: 50%;" *ngIf="identity.imageProfile!=null" id="identity_image" mat-icon>        
                <img src="/assets/noImagenProfile.png" alt="" style="width: 40px;height: 40px;;border-radius: 50%;" *ngIf="identity.imageProfile==null" id="identity_image" mat-icon>        
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/portal-ISIMA/Dashboard/User/{{identity.typeOfUsers._id}}/Cambiar-Imagen/{{identity._id}}" routerLinkActive="router-link-active" > 
                    <mat-icon>photo_library</mat-icon>
                    <span>Foto de perfil</span>
                </button>
                <button mat-menu-item routerLink="/portal-ISIMA/Dashboard/User/{{identity.typeOfUsers._id}}/UserDetall/{{identity._id}}" routerLinkActive="router-link-active" > 
                    <mat-icon>person_pin_circle</mat-icon>
                    <span>Perfil</span>
                </button>   
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Salir</span>
                </button>            
            </mat-menu>                
        </div>        
    </mat-toolbar-row>
</mat-toolbar>