<div>
    <app-header></app-header>
</div>

<div fxLayout="row" class="slide">
    <div fxFlex>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">              
              <div class="carousel-item active">
                <img src="/assets/estudiantes2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/estudiantes3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/estudiantes4.jpg" class="d-block w-100" alt="...">
              </div>
            </div>           
          </div>
    </div>
</div>
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="infoSchool">
    <div fxFlex="80" class="bordes">
        <mat-tab-group>
            <mat-tab label="Quienes Somos?"> 
                <div fxLayout="row" fxLayoutAlign="center center" class="shadow">
                    <div fxFlex class="imgInfo">
                        <img src="/assets/quienes.jpg" alt="mision">
                    </div>
                    <div fxFlex class="contenedorInfo">
                        <div class="title">
                            <p>Quienes Somos?</p>
                        </div>
                        <div class="info">
                            <p>
                                Somos una Institución educativa con un modelo único en el mundo por la flexibilidad y empoderamiento que le brinda al alumno, ya que éste puede elegir su propio programa educativo de acuerdo con su propósito de vida.
                                <br>
                                Sustentado en la ciencia de la Psicología Positiva, nuestro Modelo de Universidad asegura la competitividad de nuestros alumnos en la economía del mercado global e impulsa el bienestar y felicidad de los miembros de nuestra Comunidad.
                            </p>
                        </div>
                    </div>
                </div>        
            </mat-tab>
            <mat-tab label="Mision">
                <div fxLayout="row" fxLayoutAlign="center center" class="shadow">            
                    <div fxFlex class="contenedorInfo">
                        <div class="title">
                            <p>Misión</p>
                        </div>
                        <div class="info">
                            <p>
                                Somos la institución comprometida con el desarrollo académico y cultural de nuestros alumnos para el logro de las mejores aptitudes y actitudes de servicio y el ejercicio de su profesión, generando las competencias que el mundo de hoy requiere, teniendo como prioridad el ser vanguardia de la formación integral, así­ como de los avances cientí­ficos y tecnológicos que nuestro México necesita.
                                <br>
                                Son por tanto, nuestros alumnos, la identidad y pertenencia de un principio institucional, basado en la educación de calidad.
                            </p>
                        </div>
                    </div>
                    <div fxFlex class="imgInfo">
                        <img src="/assets/mision.jpg" alt="mision">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Vision"> 
                <div fxLayout="row" fxLayoutAlign="center center" class="shadow">
                    <div fxFlex class="imgInfo">
                        <img src="/assets/vision.png" alt="mision">
                    </div>
                    <div fxFlex class="contenedorInfo">
                        <div class="title">
                            <p>Visión</p>
                        </div>
                        <div class="info">
                            <p>
                                Nuestra Visión es que seamos una institución conocida por la alta calidad educativa, que permita en todo momento la apertura del crecimiento sostenible y continuo, así como el lograr captar en nuestros alumnos el interés y compromiso constante por el conocimiento y la praxis en nuestra sociedad.
                                <br>
                                Queremos ser la institución que se reconozca por su acción en pro del mejoramiento educativo y humano.
                            </p>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>          
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="classOnline">
    <div fxFlex="80">
        <div fxLayout="row" class="titleOnline">
            <p>Tu educación no se detiene</p>
        </div>
        <div fxLayout="row" class="textOnline">
            <p>
                Hoy más que nunca, México requiere profesionales preparados para los retos a los que nos enfrentamos. Deseamos darte más posibilidades para que continúes superándote. Conoce las ventajas de nuestro proceso de admisión desde casa y la manera en la que puedes seguir estudiando.
            </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="formaDeInscripcion" >
            <div fxFlex>
                 <img src="/assets/inscipciones.jpg" alt="inscripciones">
            </div>
            <div fxFlex="45" class="contenedorFormaInscripcion">
                <div fxLayout="row" fxLayoutAlign="center center" class="titleFormaDeInscripcion">
                    <p> | Inscríbete desde casa</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="descripcionFormaDeInscripcion">
                    <p>
                        Nuestro proceso de admisión desde casa está diseñado para aquellos que desean superarse sin importar los obstáculos, además de otorgarte estas ventajas:
                    </p>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="opcionesFormaDeInscripcion">
                    <ul>
                        <li>
                            Podrás comunicarte con un asesor educativo a través del canal que prefieras: vía telefónica, a través de chat, whatsapp o solicitud de información.
                        </li>
                        <li>
                            Asesoría personalizada en cada paso del proceso por un ejecutivo.
                        </li>
                        <li>
                            Flexibilidad para envío de documentación para tu admisión
                        </li>
                        <li>
                            Serás capaz de iniciar tu proceso de revalidación de materias y aprovechar lo que ya estudiaste
                        </li>
                    </ul>
                </div>                
                <div fxLayout="row" fxLayoutAlign="center center" class="btnInscripcion">
                    <button mat-raised-button color="warn">INiCIA TU INSCRIPCION</button>
                </div>  
            </div>
        </div>
    </div>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="center center" class="beneficios">
    <div fxFlex="80">
        <div class="titleBeneficios" fxLayout="row">
            <p>¿Por qué estudiar en la ISIMA?</p>
        </div>
        <div class="textBeneficios" fxLayout="row">
            <p>
                Con más de 50 años de experiencia académica, Grupo ISIMA ha sido clave en la formación de profesionistas y en la movilidad social del país. ¡Únete a nuestra comunidad!
            </p>
        </div>        
        <div class="infoBeneficios" fxLayout="row" fxLayout.lt-sm="column" >            
            <div fxFlex="60"  *ngFor="let beneficio of beneficios" class="beneficio">                
                <mat-icon>{{beneficio.icon}}</mat-icon>
                <p>{{beneficio.text}}</p>                
            </div>
        </div>        
    </div>
</div> -->
<div fxLayout="row" fxLayoutAlign="center center" class="consultas"> 
    <div fxFlex="80">
        <div fxLayout="row" fxLayoutAlign="center center" class="titleConsultas">
            <p>Lo más consultado en ISIMA</p>
        </div>       
        <div fxLayout="row" fxLayoutAlign="center center" class="textConsultas">
            <p>
                ¡Permítenos apoyarte! En este espacio encontrarás algunas herramientas útiles para ayudarte a continuar con tus estudios y sumar posibilidades a tu vida profesional. Elige la más adecuada para ti.
            </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="contendidoConsultas">
            <div fxFlex="30" *ngFor="let consulta of consultas" class="consulta">
                <div fxLayout="row" fxLayoutAlign="center center" class="titleContenidoConsultas">
                    <p>
                        {{consulta.title}}
                    </p>   
                </div>    
                <div fxLayout="row" fxLayoutAlign="center center" class="textContenidoConsultas">
                    <p>
                        {{consulta.text}}
                    </p>   
                </div> 
                <div fxLayout="row" fxLayoutAlign="center center" >
                    <div fxFlex>
                        <button mat-raised-button color="warn">
                            {{consulta.textButton}}                                          
                        </button>
                    </div>                    
                </div> 
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 50px;">
    <app-footer></app-footer>
</div>



